@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap');
body {
    font-family: "Space Grotesk", serif;
    background-color: #f0f0f0;
    background-image: url(https://wallpapers.com/images/hd/asian-background-5kb2a12yy5uojwgf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: large;
    line-height: 2;
    margin-bottom: 18px;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

li{
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    font-weight: lighter;
    text-align: center;
}

.sidebar {background-color: rgba(52, 155, 121, 0.753);
    position: fixed;
    height: 100%;
    width: 125px;
    top: 5px;
    left: 5px;
}

.sidebar li {
    list-style-type: none;
}
.page-wrapper {
    margin-left:200px;
    padding-left: 30px;
}

h2 {
    text-align: center;
}
a:link {
    color: aliceblue;
}
a:hover{ color: black;}

a:visited{color: #ccaf09;}

.summary p{color: #1b17e0;}